# Ignorar tudo, exceto os arquivos essenciais
*
!Recursos/
!Recursos/**  # Inclui todo o conteúdo dentro de Recursos
!DirigIA.py
!README.md
!LICENSE
!.gitignore
!requirements.txt

*license.txt


# Ignorar executáveis
*.exe

# Ignorar pastas de build
/build/
/dist/
*.spec